@mixin centerAlign($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin respond($breakpoint) {
  @if $breakpoint == xxs {
    @media (max-width: 25em) {
      @content;
    }
  }
  @if $breakpoint == xs {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == sm {
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media (max-width: 62em) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
